/* Estilos gerais para a página */
body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.modo-rosa {
    background-color: rgb(235, 179, 188);
}

body.modo-rosa h1{
    color:rgb(231, 92, 115);
}

body.modo-rosa .container {
    background-color: rgb(254, 212, 219);
}

body.modo-rosa button {
    background-color: rgb(247, 151, 183);
    border-radius: 30px;
    border-color:rgb(231, 92, 115);
    color:rgb(75, 24, 32);
}

body.modo-rosa #blocoDeNotas:focus {
     outline: none;
    border-color: rgb(231, 92, 115);
    box-shadow: 0 0 5px rgba(231, 92, 115, 0.5);
}

/* O contêiner principal que centraliza nosso conteúdo */
.container {
    background-color: #cbddee;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #007bff;
}

p {
    color: #6c757d;
    margin-bottom: 20px;
}

/* Estilizando nossa área de texto (textarea) */
#blocoDeNotas {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    resize: vertical; /* Permite que o usuário redimensione a altura */
}

#blocoDeNotas:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#btnModoRosa {
    position: absolute;
    left: 100px;
    bottom: 100px;
}

button {
    border-radius: 30px;
    padding: 10px;
    background-color: #7fbbfb;
    border-color: #3391f6;
}
